@import "bootstrap-sprockets";
@import "bootstrap";
@import 'home.css.scss';
@import 'posts.css.scss';

.jumbotron {
    margin-top: -65px;
    background: #000;
    color: #fff;
    text-align:center;
}

.navbar {
	margin: 0px;
	background: #eee;
}

.container-fluid {
	margin: 0px;
}

simple_form.div.input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

